{% if values.hasSubheader %}
import { Component, OnInit } from '@angular/core';
import { Title } from '@angular/platform-browser';
import { ActivatedRoute } from '@angular/router';
{% else %}
import { Component } from '@angular/core';
{% endif %}

@Component({
  selector: 'app-home-layout',
  templateUrl: './home-layout.component.html',
  styleUrls: ['./home-layout.component.css'],
  standalone: false,
})
{% if values.hasSubheader %}
export class HomeLayoutComponent implements OnInit {
  subheaderRelativeRoute = './';
  title = '{{ values.name }}. Gobierno de Aragon';

  constructor(
    private activatedRoute: ActivatedRoute,
    private titleService: Title
  ) {}

  ngOnInit(): void {
    const routeRelative =
      this.activatedRoute.firstChild?.snapshot.data['routeRelative'];
    this.subheaderRelativeRoute = routeRelative ? routeRelative : './';
    this.titleService.setTitle(this.title);
  }
}
{% else %}
export class HomeLayoutComponent {}
{% endif %}
